html,
body {
  height: 100%;
}

body{
	background-color: #BDBABA;
}

header{
	height: 8.5%;
	background:#252932;
	
}

.wrapper{
	color: #FDFBFB;
	overflow:hidden;
}
header nav{
	margin-top: 1%;
	margin-right: 0.5%;
	float: right;
	font-size: 100%;
}
header .logo{
	margin-left:  0.5%;
	float: left;
}

.titulo{
	margin-left:  5%;
	margin-top: 3%;
	text-align: left;
	font-family: 'Anton', sans-serif;
	font-size: 50pt;
}

 .ruta {
 	font-weight: 10%;
	height: 1%;
	margin-left: 5%;
	margin-right: auto;
	margin-top: 2%;
}

.page-header {
        background-color: #797878;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #ffffff;
        font-size: 400%;
        text-decoration: none;
    }
.wrapper .page-header nav{
	margin-left: 85%;
}    

.container {
	margin-left: 7%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.container h4{
	padding-left: 5%;
	margin-top: -1.5%;
	margin-bottom: 0%;
}

.container .row{
	padding-left: 10%;
	margin-top: -1.1%;
}

.row .logounach{
	margin-right: 20%;
	margin-top: -1.1%;
}
.box{
	margin-left: 30%;
	margin-right:10%;
	background-color:  #CBCACA;
	display: none;
}

.box #lista2 ul { 
    list-style:none; 
}

