{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min' %}">
</head>
<body class="text-center">
	
	    <div class="container">
	            <div class="row">
	                <div class="col-sm-12">
	                	<img class="mb-4" src="{% static 'img/Logo CAAE.png' %}" alt="" width="350" height="150">
	                {% block content %}
	                {% endblock %}
	                </div>
	            </div>
	    </div>
</body>
</html>


    
