{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
	<div class="page-header">
	            <h1><a href="/">Bienvenido</a></h1>
	</div>
	    <div class="content container">
	            <div class="row">
	                <div class="col-md-8">
	                	 <br>
	                {% block content %}
	                {% endblock %}
	                </div>
	            </div>
	    </div>
</body>
</html>


    
