{% extends 'app/base.html' %}
<!--{% load staticfiles %}-->
{% block content %}

<nav class="ruta" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fas fa-home"></i>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Autoreporte</li>
    </ol>
</nav>
<div class="container">
    <h4>
        <i class="fas fa-angle-double-right"></i> Tenemos los siguientes reportes:</h4>
</div>


<section class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div id="accordion1" style="margin-right: 10%; margin-left: 30%;">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapse1"><h3><i class="fas fa-angle-right"></i>
                            Reportes</h3></a>
                    </div>
                   <div class="card-body">
                    {% ifequal report.ano_reporte 2018 %}
                        {% if report.reporte_Departamento == "UNACH" %}
                            {% for report in reports %}
                                <a style="margin-left: 20%;" class="list-group" href="{{ report.reporte.url }}" target="_blank">
                                    - {{report.nombre}} {{report.reporte_Departamento}}</a>
                            {% endfor %}
                        {% endif %}      
                    {% endifequal %}          
                    </div>
                </div>
            </div>    
             
        </div>
        {% include 'app/logoCAAE.html' %}
    </div>
</section>



{% endblock %}