{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Estadisticas</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
	<header>
		<div class="wrapper">
				<div class="logo"> 
					<img class="mb-4" src="{% static 'img/Logo CAAE Semi Blanco.png' %}" alt="" width="150" height="60">
				</div>
					<nav>
						<a> Bienvenido {{ user.get_full_name }} (<a href="{% url 'logout' %}"></span>Logout</a>)
						</a>
					</nav>		
		</div>	
	</header>
	{% block content %}
	{% endblock %}
</body>
</html>