{% extends 'app/base.html' %}

{% block content %}
	
	<nav class="ruta" aria-label="breadcrumb">
  		<ol class="breadcrumb">
		    <li class="breadcrumb-item"><i class="fas fa-home"></i> <a href="{% url 'home' %}">Home</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Test de Kolb</li>
	 	 </ol>
	</nav>

	<div class="container">
		<h4><i class="fas fa-angle-double-right"></i> Tenemos los siguientes reportes:</h4>		
	</div>
	<section class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-sm-12">
				<div class="box">
					<div  class="list-group">
						<ul id="open-hide" class="list-group-item">
							<a id="open-hide" href="#">
								<h3><i class="fas fa-angle-right"></i> Universidad</h3>
							</a>
						</ul>
						<ul id="open-hide" id="lista2" class="list-group-item">
							<a href="#">
								<h3><i class="fas fa-angle-right"></i> Facultad</h3>
							</a>
						</ul>
						<ul id="open-hide" id="lista2" class="list-group-item">
							<a href="#">
								<h3><i class="fas fa-angle-right"></i> Carrera</h3>
							</a>	
								
         				</ul>
					</div>
				</div>
			</div>
			{% include 'app/logoCAAE.html' %}
		</div>	
	</section>



{% endblock %}