{% extends 'app/base.html' %}
{% load staticfiles}

{% block content %}

	<nav class="ruta" aria-label="breadcrumb">
	  <ol class="breadcrumb">
	  	<li class="breadcrumb-item active" aria-current="page"><i class="fas fa-home"></i> Home</li>
	  </ol>
	</nav>

	<div class="container">
		<h4><i class="fas fa-angle-double-right"></i> Elige uno de los siguientes reportes:</h4>		
	</div>
	<section class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-sm-12">
				<div id="accordion" style="margin-right: 10%; margin-left: 30%;">
	                <div class="card h-50" >
	                    <div class="card-header">
							<a class="card-link" href="{% url 'autoreporte' %}">
								<h3><i class="fas fa-angle-right"></i> Autoreporte</h3> 
							</a> 
						</div>
						<div class="card-header">
							<a class="card-link" href="{% url 'kolb' %}">
								<h3><i class="fas fa-angle-right"></i> Test de Kolb</h3> 
							</a> 
						</div>
						<div class="card-header">	
							<a class="card-link" href="{% url 'edward' %}">
								<h3><i class="fas fa-angle-right"></i> Test de Edward</h3> 
							</a> 
						</div>
						<div class="card-header">	
							<a class="card-link" href="{% url 'tap' %}">
								<h3><i class="fas fa-angle-right"></i> Taller de Habilidades</h3> 
							</a>
						</div>
						<div class="card-header">	
							<a class="card-link" href="{% url 'sigae' %}">
								<h3><i class="fas fa-angle-right"></i> SIGAE</h3> 
							</a>
						</div>
						<div class="card-header">	
							<a class="card-link" href="{% url 'honeyalonso' %}">
								<h3><i class="fas fa-angle-right"></i> Test Honey Alonso</h3> 
							</a>
						</div>	
						<div class="card-header">	
							<a class="card-link" href="{% url 'tutores' %}">
								<h3><i class="fas fa-angle-right"></i> Tutores</h3> 
							</a>
						</div>	
						<div class="card-header">	
							<a class="card-link" href="{% url 'ayudantias' %}">
								<h3><i class="fas fa-angle-right"></i> Ayudantias</h3> 
							</a>
						</div>
						<div class="card-header">	
							<a class="card-link" href="{% url 'propedeutico' %}">
								<h3><i class="fas fa-angle-right"></i> Propedeutico</h3> 
							</a>
						</div>
						<div class="card-header">	
							<a class="card-link" href="{% url 'induccion' %}">
								<h3><i class="fas fa-angle-right"></i> Inducción</h3> 
							</a>
						</div>				 
					</div>
				</div>
			</div>
		
			{% include 'partials/logoCAAE.html' %}
		</div>	
	</section>		

{% endblock %}